<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6461b3">  <td>22/05/15 17:08:55</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;ContactUsTest.AterTest()[pri:0, instance:com.selenium.mavenproject.tests.sovTech.ContactUsTest@6f96c77]">&lt;&lt;AterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="6461b3">  <td>22/05/15 17:05:52</td>   <td>-182790</td> <td>&nbsp;</td><td title="&gt;&gt;ContactUsTest.setup()[pri:0, instance:com.selenium.mavenproject.tests.sovTech.ContactUsTest@6f96c77]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@640070680</td>   <td></td> </tr>
<tr bgcolor="6461b3">  <td>22/05/15 17:05:54</td>   <td>-181299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUsTest.test_contactUS_feature()[pri:0, instance:com.selenium.mavenproject.tests.sovTech.ContactUsTest@6f96c77]">test_contactUS_feature</td> 
  <td>main@640070680</td>   <td></td> </tr>
</table>
